PORT=4001
HOST=localhost
MIX_ENV=prod

SECRET_KEY_BASE=generate-with-mix-phx-gen-secret-64-chars-minimum
LIVE_VIEW_SALT=generate-with-mix-phx-gen-secret-32-chars

JWT_SECRET=replace-with-same-secret-as-gateway-service

CURRENCY_RATE_ENDPOINT=https://api.exchangerate-api.com/v4/latest

ALLOWED_ORIGIN_1=http://localhost:3000
ALLOWED_ORIGIN_2=https://app.meridian.io
